body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.content {
  display: block;
  width: 100%;
  height: 10vh;
  background: text-color;
}
.footer {
  display: block;
  width: 100%;
  height: 10vh;
  background: text-color;
}
.header {
  display: block;
  width: 100%;
  height: 10vh;
  background: text-color;
}
.side-menu {
  display: block;
  width: 100%;
  height: 10vh;
  background: text-color;
}
